.container {
	@apply relative max-w-full block z-[var(--layer-footer)] bg-[var(--color-bg-primary)] text-[var(--color-text-tertiary)] border-t border-t-[var(--color-border-primary)];
}

.inner__container {
	@apply flex flex-col lg:flex-row py-14 w-full mx-auto items-start gap-10 lg:gap-12;
	padding-left: var(--page-padding-left);
	padding-right: var(--page-padding-right);
	max-width: calc(
		var(--page-max-width) + var(--page-padding-left) + var(--page-padding-right)
	);
}

.left__container {
	@apply w-full lg:flex-1 lg:basis-0 lg:min-w-0 flex flex-row lg:flex-col justify-between mx-auto lg:mx-0;
}

.left__container .logo__link {
	@apply flex items-center text-sm font-medium leading-6 whitespace-pre;
}

.left__container .logo {
	@apply fill-[var(--color-text-primary)] mr-2;
}

.left__container .logo__link .hide__mobile {
	@apply hidden sm:inline-block;
}

.left__container .social__icons {
	@apply flex items-center gap-3 lg:gap-6;
}

.footer__section {
	@apply w-full lg:flex-1 lg:basis-0 lg:min-w-0 mt-0;
}

.footer__section__title {
	@apply text-sm font-medium leading-6 mb-[14px] text-[var(--color-text-primary)];
}

.footer__section__list {
	@apply flex flex-col gap-[14px];
}

.footer__section__list .item {
	@apply text-sm;
}

.container a {
	@apply text-[var(--color-text-tertiary)] hover:text-[var(--color-text-primary)] transition-colors;
}
